/* Font Vazir */
@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
}

body {
  background: #f0f0f0;
  color: #444;
  font-family: "Vazir";
  text-align: center;
  margin: 1rem;
}

.operation_btns {
  position: absolute;
  left: 0;
}
